* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-y: hidden;
}

.slider {
	font-family: sans-serif;
	scroll-snap-type: x mandatory;	
	display: flex;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}

section {
	border-right: 1px solid black;
	padding: 1rem;
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
}

.welcome {
	background-color: #F5A972;
}

.about {
	background-color: #F5F172;
}

.photos {
	background-color: #72F57F;
}

.contact {
	background-color: #72e8f5;
}

h1	{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: white;
	width: 100%;
	left: 0;
	font-size: calc(1rem + 3vw);
}

h3 {
    padding-top: 1%;
    text-align: center;
    color: rgb(255, 255, 255);
}

h5 {
	padding-top: 0%;
    text-align: center;
    color: rgb(255, 255, 255);
}