* {
	overflow-x: hidden;
	font-family: Montserrat;
}
body {
	width: 100%;
	margin: 0
}

body .content {
	width: 100vw;
	height: 100vh;
	scroll-snap-type: y mandatory;
	y-overflow: auto;
}

body .content section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	border: 1px solid black;
	scroll-snap-align: start;
}

.h1-welcome	{
	position: relative;
	text-align: center;
	font-size: 200%;
	top: 50%;
	content-align: center;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	color: transparent;
	text-align: center;
	animation: effect 3s linear infinite;
}

.h2-welcome {
	position: relative;
	text-align: center;
	font-size: 125%;
	content-align: center;
	transform: translate(-50%, -50%);
	left: 50%;
	text-align: center;
	color: antiquewhite;
}

@keyframes effect {
	0% {
		background: #17DCDE;
		-webkit-background-clip: text;
	}
	10% {
		background: #17DED1;
		-webkit-background-clip: text;
	}
	20% {
		background: #17DEBF;
		-webkit-background-clip: text;
	}
	30% {
		background: #17DEAB;
		-webkit-background-clip: text;
	}
	40% {
		background: #17DE9F;
		-webkit-background-clip: text;
	}
	50% {
		background: #17DE8B;
		-webkit-background-clip: text;
	}
	60% {
		background: #17DE9F;
		-webkit-background-clip: text;
	}
	70% {
		background: #17DEAB;
		-webkit-background-clip: text;
	}
	80% {
		background: #17DEBF;
		-webkit-background-clip: text;
	}
	90% {
		background: #17DED1;
		-webkit-background-clip: text;
	}
	100% {
		background: #17DCDE;
		-webkit-background-clip: text;
	}
}

.parallax {
	background-image: url("img/background1.jpg");

	/* Set a specific height */
	min-height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

::-moz-selection { /* Code for Firefox */
	color: antiquewhite;
	background: #17DCDE;
}

::selection {
	color: antiquewhite;
	background: #17DCDE;
}

.heading-photography {

}