* {
	overflow-x: hidden;
	font-family: Montserrat;
}
body {
	width: 100%;
	margin: 0
}

body .content {
	width: 100vw;
	height: 100vh;
	scroll-snap-type: y mandatory;
	y-overflow: auto;
}

body .content section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	border: 1px solid black;
	scroll-snap-align: start;
}

.heading-welcome	{
	font-size: xxx-large;
	text-align: center;
	top: 50%;
	content-align: center;
}

.down-arrow {
	padding-bottom: 5px;
	text-align: center;
}

.heading-photography {

}

.section:nth-child(1) {
	display:flex;
	justify-content: center;
	align-content: center;
}

.heading-welcome {
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.section:nth-child(2) {
	display:flex;
	justify-content: center;
	align-content: center;
}

.heading-welcome img{
	transform: translate(-50%, -50%);
	left: 50%;
	bottom: 0px;
}
