html {
  background-color: #292929 !important;
  color: inherit;
}

.thumb-img {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .15) !important;
  border-color: #000000 !important;
  border-width: 3px !important;
}

#loupeContainer div.background {
  background-color: #292929 !important;
  color: inherit;
}

header div.background {
  background-color: #292929 !important;
  color: inherit;
}

.custom-colorable {
  fill: #CCCCCC !important;
}

body {
  background-color: #292929 !important;
  color: #CCCCCC !important;
}
